<div class="field field-checkbox">
	<button onclick="fieldCheckbox.toggle(this)
	{{action}}('{{name}}', this.hasAttribute('active'))
	" type="button" class="field-wrapper validation" name="{{name}}">
		<span class="field-icon"></span>
		<span class="field-label field-label-checkbox">{{label}}</span>
	</button>
</div>